* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background-image: url(https://imgs.search.brave.com/9O1PBqHiSglJJeh_0N961mCz4ouGxPbhfGUkHnEVF28/rs:fit:1200:1081:1/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzAyLzNk/LzgxLzAyM2Q4MWJl/ZDFhYWRhODYxNTY3/ZDJlNjhiMWNmZGI4/LmpwZw);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

p {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
    color: aliceblue;
}

ul {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
}

.header button {
    position: absolute;
    right: 18%;
    margin-top: -30px;
} 
  
.header i {
    font-size: 22px;
    color: aliceblue;
} 
  
.to-do {
    margin-top: 98px;
    width: 60%;
}
  
.textInsert {
    border: none;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    width: 90%;
}
  
.divInsert {
    padding: 10px;
    background-color: lightgray;
    border-radius: 10px;
    display: flex;
    box-shadow: 6px 5px 10px 0px grey;
}
  
button {
    width: 10%;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}
  
.bx-plus {
    font-size: 30px;
    margin-left: 10px;
    background-color: rgb(177, 60, 255);
    border-radius: 50%;
    padding: 5px;
    color: white;
}
  
.divLi {
    margin-top: 20px;
    padding: 10px;
    background: rgb(80, 207, 201);
    border-radius: 10px;
    box-shadow: 6px 5px 10px 0px grey;
    display: flex;
    align-items: center;
}
  
.divLi span {
    width: 80%;
    font-size: 20px;
    color: rgb(255, 252, 252);
}
  
.divLi input {
    width: 10%;
    outline: none;
    accent-color: currentcolor;
}
  
.divLi i {
    font-size: 22px;
    color: rgb(255, 0, 0);
}
  
li {
    list-style-type: none;
}
  
.line-through {
    text-decoration: line-through;
}
  
@media (max-width: 775px) {
    input {
      width: 70%;
}
  
.divInsert button {
      width: 30%;
}
  
i {
      font-size: 30px;
      padding: 0px;
}
p {
      font-size: x-large;
   }
}